<div>
  <form [formGroup]="formLogin" (submit)="send()">
    <div>
      <label for="email">email</label>
      <input type="text" id="email" formControlName="email" />
    </div>
    <div>
      <label for="password">password</label>
      <input type="password" id="password" formControlName="password" />
    </div>
    <div>
      <button [disabled] = "formLogin.invalid">Send</button>
    </div>

    <div>
      <label for="terms">Terminos Y Condiciones</label>
      <input type="checkbox" id="terms" formControlName="terms" />
    </div>
  </form>
</div>
<div>
  valido : {{formLogin.valid | json}}
</div>
